@font-face {
font-family: 'game of thrones';
src: url('../fonts/gameofthrones.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'minecraft';
src: url('../fonts/minecraft.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'lato';
src: url('../fonts/Lato-Thin.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'lato';
src: url('../fonts/Lato-Bold.ttf') format('truetype');
font-weight: bold;
font-style: normal;
}

@font-face {
font-family: 'lato black';
src: url('../fonts/Lato-Black.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'lato semibold';
src: url('../fonts/Lato-Semibold.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

body{
  font-family: "SF Pro Text","Arial", sans-serif;
  font-size: 15px;
  margin: 0;
  overflow-X:hidden;
}

.page {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

header nav{
  font-family: "minecraft", serif;
  font-size: 11px;
  display: flex;
  letter-spacing: 2px;
}

.container{
  width: 1000px;
  margin: 0 auto;
}


.category{
  flex-wrap: wrap;
  color: rgb(228, 228, 228);
  margin: 1px 15px;
  padding: 15px 10px;
}

a{
  text-decoration: none;
}

nav{
  margin-left: 70px;
}

nav a:hover{
  color: #c0392b;
}

.flex{
display: flex;
flex-wrap: wrap;
}


.hero{
  display: flex;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-image: url(../images/test.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.mainlogo{
  margin-top: -11px;
  margin-left: 120px;
}

.button{
  color: #FFF;
  background-color: #111;
  font-size: 30px;
  padding: 15px 30px;
  border-radius: 3px;
  font-family: "minecraft", serif;
  text-transform: uppercase;
}

.button:hover{
  color: #c0392b;
}

.pages{
  margin-top: 15px;
  margin-left: 100px;
}

.hero-inner{
  margin-left: -500px;
  margin-top: 350px;
}

.parts{
  margin-left: 0;
  background-color: #111;
  color: #FFF;
  display: flex;
  flex-direction: column;
}


.parts h3{
  font-family: "minecraft", serif;
  padding-left: 20px;
  margin-left: 100px;
  padding-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 50px;
}

#synopsis h3, #command h3, #about h3{
  padding-top: 50px;
}

.flexRowNowrap{
  display: flex;
  flex-flow: row nowrap;
}

.lato{
  font-family: 'lato';
}

.flexRowNowrap p{

  font-weight: normal;
  width: 400px;
  margin-left: 200px;
  line-height: 1.6;
}

.flexRowNowrap .map{
  height: 600px;
  margin-top: -50px;
  margin-left: -75px;
}

.flexColumnWrap{
  flex-flow: column wrap;
}

.chara{
  margin-left: 180px;
  padding-top: 20px;
}
main .charaText h4{
  font-family: 'minecraft';
  letter-spacing: 1px;
}

main .charaText h5{
  font-family: 'minecraft';
  width: 130px;
  letter-spacing: 1px;
}

.chara p{
  width: 575px;
}

.name{
  display: flex;
  flex-flow: row nowrap;
}

.charaPics{
  height: 150px;
  padding-right: 20px;
}

.daenerys p{
  margin-left: 170px;
}

footer{
  text-align: center;
  padding-top: 50px;
}

.greenButton{
  color: #3EB81A;
  font-weight: bold;
}

.redButton{
  color: #FF0000;
  font-weight: bold;
}

.keyboardCommand{
  display: flex;
}

.keyboard{
  width: 150px;
  height: 100px;
  margin-left: -240px;
}

.inLine{
  flex-flow: row nowrap;
}

.icon{
  width: 30px;
  margin: 8px;
}

.copyright p{
  font-size: 11px;
}

footer .button{
  color: #c0392b;
}

footer .button:hover{
  color: #FFF;
}

#about p{
  width: 550px;
  margin-left: 200px;
}

.copyright{
  margin-top: 15px;
}

.player{
  display: flex;
  flex-flow: row nowrap;
}

.icon:hover{
  border-bottom: 3px solid #c0392b;
}

.whoAreWe{
  width: 100px;
}
