@font-face {
font-family: 'game of thrones';
src: url('../fonts/gameofthrones.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'minecraft';
src: url('../fonts/minecraft.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'lato';
src: url('../fonts/Lato-Thin.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'lato';
src: url('../fonts/Lato-Bold.ttf') format('truetype');
font-weight: bold;
font-style: normal;
}

@font-face {
font-family: 'lato black';
src: url('../fonts/Lato-Black.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'lato semibold';
src: url('../fonts/Lato-Semibold.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

body{
  font-family: "SF Pro Text","Arial", sans-serif;
  font-size: 15px;
  margin: 0;
  overflow-X:hidden;
}

.page {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

header nav{
  font-family: "game of thrones", serif;
  font-size: 11px;
  display: flex;
}

.container{
  width: 1000px;
  margin: 0 auto;
}


.category{
  flex-wrap: wrap;
  color: rgb(228, 228, 228);
  margin: 1px 15px;
  padding: 15px 10px;
}

a{
  text-decoration: none;
}

nav{
  position: relative;
}

nav a:hover{
  color: #c0392b;
}

.flex{
display: flex;
flex-wrap: wrap;
}
/*
.hero{
  display: flex;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-image: url();
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}*/
.mainlogo{
  margin-top: -11px;
}

.button{
  color: #FFF;
  background-color: #000;
  font-size: 30px;
  padding: 7px 30px;
  border-radius: 3px;
  font-family: "game of thrones", serif;
  margin-top: 50px;
}

.button:hover{
  color: #c0392b;
}

.pages{
  margin-top: 15px;
  margin-left: 180px;
}

.hero-inner{
  text-align: center;
  margin-top: 350px;
}

.parts{
  margin-left: 0;
  margin-top: 150px;
  background-color: #000;
  color: #FFF;
  display: flex;
  width: 100%;
  flex-direction: column;
}


.parts h3{
  font-family: "game of thrones", serif;
  padding-left: 20px;
  margin-left: 100px;
  padding-bottom: 30px;
}

#synopsis h3, #command h3, #about h3{
  padding-top: 50px;
}

.flexRowNowrap{
  display: flex;
  flex-flow: row nowrap;
}

.flexRowNowrap p{
  font-family: 'lato';
  font-weight: normal;
  width: 400px;
  margin-left: 200px;
  line-height: 1.6;
}

.flexRowNowrap .map{
  height: 600px;
  width: auto;
  margin-top: -50px;
  margin-left: -75px;
}

.flexColumnWrap{
  flex-flow: column wrap;
}

.chara{
  margin-left: 180px;
  padding-top: 20px;
}
main .charaText h4{
  font-family: 'lato black';
}

main .charaText h5{
  font-family: 'lato semibold';
  width: 100px;
}

.chara p{
  width: 575px;
}

.name{
  display: flex;
  flex-flow: row nowrap;
}

.charaPics{
  height: 150px;
  padding-right: 20px;
}

.daenerys p{
  margin-left: 170px;
}

footer{
  background-color: #000;
  display: flex;
  text-align: center;
}

.greenButton{
  color: #3EB81A;
  font-weight: bold;
}

.redButton{
  color: #FF0000;
  font-weight: bold;
}

.keyboardCommand{
  display: flex;
  justify-content: space-around;
}

.inLine{
  flex-flow: row nowrap;
}

.icon{
  width: 30px;
}

.copyright p{
  font-size: 11px;
}

footer .button{
  color: #c0392b;
}

footer .button:hover{
  color: #FFF;
}

#about p{
  width: 850px;
  margin-left: 20px;
}

.copyright{
  margin-top: 15px;
}
