@font-face {
font-family: 'game of thrones';
src: url('../fonts/gameofthrones.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'minecraft';
src: url('../fonts/minecraft.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'lato thin';
src: url('../fonts/Lato-Thin.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'lato black';
src: url('../fonts/Lato-Black.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'lato bold';
src: url('../fonts/Lato-Bold.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'lato semibold';
src: url('../fonts/Lato-Semibold.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}


body{
  font-family: "SF Pro Text","Arial", sans-serif;
  font-size: 15px;
  margin: 0;

}

header nav{
  font-family: "game of thrones", serif;
  font-size: 11px;
  display: flex;
}

.container{
  width: 1000px;
  margin: 0 auto;
}


.category{
  flex-wrap: wrap;
  color: rgb(228, 228, 228);
  margin: 1px 15px;
  padding: 15px 10px;
}

a{
  text-decoration: none;
}

nav{
  position: relative;
}

nav a:hover{
  color: #c0392b;
}

.menu{
display: flex;
flex-wrap: wrap;
}
/*
.hero{
  display: flex;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-image: url();
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}*/
.mainlogo{
  display: flex;
  flex-wrap: wrap;
  margin-top: -11px;
}
.logo{

}

.hero-inner .button{
  color: #FFF;
  background-color: #000;
  font-size: 30px;
  padding: 7px 30px;
  border-radius: 3px;
  font-family: "game of thrones", serif;
  margin-top: 50px;
}

.hero-inner .button:hover{
  color: #c0392b;
}

.pages{
  margin-top: 15px;
  margin-left: 180px;
}

.hero-inner{
  text-align: center;
  margin-top: 350px;
}

.parts{
  margin-left: 0;
  margin-top: 150px;
  background-color: #000;
  color: #FFF;
  display: flex;
  width: 100%;
}


.parts h3{
  font-family: "game of thrones", serif;
  padding-top: 50px;
  padding-left: 20px;
  margin-left: 100px;
  padding-bottom: 30px;
}

.content{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.content p{
  font-family: 'lato thin';
  width: 400px;
  margin-left: 200px;
  line-height: 1.6;

}

.content .map{
  height: 600px;
  width: auto;
  margin-top: -50px;
  margin-left: -75px;
}
